body {
    background-color: black;
    color: aliceblue;
    font-family: "Neon Extra";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 3px;
}